<div class="col-lg-12">

  <div class="card mt-4">
    <%= image_tag @ad.picture.url(:large) %>
    <div class="card-body">
      <h3 class="card-title"><%= @ad.title %></h3>
      <h4><%= humanized_money_with_symbol @ad.price %></h4>
      <p class="card-text"><%= @ad.description.html_safe %></p>
    </div>
  </div>
  <div class="well">
    <!-- /.card -->
    <div class="card card-outline-secondary my-4">
      <% if member_signed_in? %>
        <div class="text-right">
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#commentModal">Deixe um comentário</button>
        </div>
        <hr/>
        <%= render partial: 'site/ad_detail/comments' %>
      <% else %>
       <div class="text-right">
          <button type="button" class="btn btn-success" disabled="disabled" data-toggle="modal" data-target="#commentModal">Efetue login para comentar</button>
        </div>
        <hr/>
      <% end %>
    </div>
    <!-- /.card -->

  </div>

  <!-- /.col-lg-9 -->

  <!-- Button trigger modal -->
</div>

<%= render partial: 'site/ad_detail/comment_modal' %>
